.container {
  width: 380px;
  color: #314d3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* margin: 10px; */
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.send_note_container p {
  text-align: center;
  font-size: 18px;
}

.send_note{
  margin: -10px 5px 30px;
  width: 350px;
  height: 5em;
}

.buttonSection{
  margin: 20px 10px;
}

#start-button{
  /* align-items: center;
  margin: 35px 10px 20px; */
  display: block;
  margin: 0 auto;
  width: 300px;
}

.howDoYouKnow p{
  text-align: center;
  font-size: 18px;
}

#howKnowSelect {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}
